* {
  box-sizing: border-box;
}

.text {
  padding: 30px;
  background-color: floralwhite;
  width: 100%;
}

.text h2, .text p {
  text-align: center;
  font-family: helvetica;
  color: dimgray;
}

span {
  text-align: center;
  padding: 20px;
  display: block;
  color: floralwhite;
  font-family: helvetica;
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.image {
  height: 400px;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-image: url("./images/parallax_three.jpg");
}

.banner {
  height: 500px;
}

.banner span {
  background-color: floralwhite;
  color: dimgray;
}
